# ------------------------------------------------------------------------------
# APP CONFIGURATION
# ------------------------------------------------------------------------------
NODE_ENV=development
APP_PORT=PORT
APP_URL=http://localhost:PORT
VITE_ZENTHAR_VERSION=v1.0.0

# ------------------------------------------------------------------------------
# SECURITY & AUTH (Rotate these for production!)
# ------------------------------------------------------------------------------
JWT_SECRET="secret-code"
JWT_EXPIRES_IN=
CORS_ORIGIN=
BETTER_AUTH_URL=

# ------------------------------------------------------------------------------
# DATABASE (PostgreSQL)
# ------------------------------------------------------------------------------
DATABASE_URL=postgresql://user:password@localhost:PORT/db_name
DB_MODE=mock

# ------------------------------------------------------------------------------
# OBSERVABILITY & LOGGING
# ------------------------------------------------------------------------------
VITE_SENTRY_DSN="your_sentery_code"
SENTRY_TRACES_SAMPLE_RATE=
LOG_LEVEL=

# ------------------------------------------------------------------------------
# INFRASTRUCTURE (Optional but recommended)
# ------------------------------------------------------------------------------
# REDIS_URL=
# SMTP_HOST=

#-
DEV_DEFAULT_PASSWORD=Z3nthar!2025
DEV_DEFAULT_PIN=1111