# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Python environment folders
venv/
.env

# Database files
*.sqlite3
*.db
SavolaLab.session.sql

# Logs
*.log
*.out
*.err

# IDE folders and files
.vscode/

# Docker folders
docker/

# ZIP Files
*.zip

# TXT Files
*.txt