{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "printWidth": 110
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.json", "package.json"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.svg"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
